  <div class="container">
    <br>
  <div class="row align-items-center text-center" style="height: 80vh">
    <div class="col-md-4 h-100">
        <button type="button" [routerLink]="['/courses']"  class="h-100 btn btn-outline btn-lg btn-block">Consultez les cours</button>
    </div>
    <div class="col-md-4 h-100" >
        <button type="button"  class="h-100 btn btn-outline btn-lg btn-block" (click)="selectAppointment()">Prendre un rendez-vous</button>
    </div>
    <div class="col-md-4 h-100">
        <button type="button" class="h-100 btn btn-outline btn-lg btn-block" (click)="selectStats()">Partez à l'étranger</button>
    </div>
  </div>
</div>

