.presentation{
  background-color: beige;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

button{
  background-color: deepskyblue;
  text-align:center;
}

#navBar{
  margin-top: 10px;
}
