.choixEcole{
  padding-top: 10px;
  padding-bottom: 10px;
}

.enTete{
  padding-bottom: 10px;
}

h1{
  background-color: rgba(255,255,255,0.80);
  border-radius: 10px;
  padding-bottom: 10px;
}

.buttonTypeGraph{
  margin-top: 10px;
  margin-bottom: 10px;
}
