
    <div class="container" *ngIf="error == true">
      <div *ngFor="let alert of alerts">
        <div *ngIf="alert.type == 'warning'">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="isLoggedIn === 1" [routerLink]="['/']">
      <div *ngFor="let alert of alerts">
        <div *ngIf="alert.type == 'success'">
          <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
        </div>
      </div>
    </div>

    <div  class="container" *ngIf="isLoggedIn === -1">
      <div *ngFor="let alert of alerts">
        <div *ngIf="alert.type == 'danger'">
          <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
        </div>
      </div>
    </div>

    <div class="container text-center form">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 text-center">
          <form class="py-1 login-form" [formGroup]="loginForm" (ngSubmit)="verifyUser()">
            <h3> Connexion </h3>
            <label for="username">
              Nom d'utilisateur <br>
              <input class=" py-1 form-control" type="text" id="username" [formControlName]="'username'">
            </label>
            <br>
            <label for="password">
              Mot de passe <br>
              <input class=" py-1 form-control" type="password" id="password" [formControlName]="'password'">
            </label>
            <br>
            <a class="btn btn-secondary btn-lg btn-header btn-return" (click)="goBack()"> Retour </a>
            <button type="submit" class="btn btn-primary btn-lg btn-header"> Valider </button><br>
            <a class="btn-link" [routerLink]="['/register']">Créer un nouveau compte ?</a>
          </form>
        </div>
      </div>
    </div>
