.infoButton{
    background-color: deepskyblue;
    margin-bottom: 10px;
}
.infoButton:hover{
    background-color: #00ace6;
}

.mandatory{
    background-color: deepskyblue;
}

.mandatory:hover{
    background-color: #00ace6;
}

.optional{
    background-color: orange;
}

.optional:hover{
    background-color: #e59400;
}

.modifyButton{
    margin-right: 10px;
}

.addButton{
    background-color: white;
    margin-bottom: 10px;
}

.addButton:hover{
    background-color: #e5e5e5;
}

.navButton{
    background-color: saddlebrown;
}
.navButton:hover{
    background-color: #70380f;
}

.ectsOk{
    background-color: rgba(255,255,255,0.80);
    border-radius: 10px;
}
.ectsNotOk{
    background-color: rgba(255,50,50,0.80);
    border-radius: 10px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:yellow;
    height: 3px;
    border-radius: 5px;
}
