<div class="container">
  <div *ngIf="year==='3' ">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-center">
        <button type="button" [routerLink]="['/courses','4']"  class="h-100 btn btn-outline btn-lg btn-block navButton">SI4 <i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="year==='4'">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <button type="button" [routerLink]="['/courses','3']"  class="h-100 btn btn-outline btn-lg btn-block navButton"><i class="fas fa-chevron-left"></i> SI3</button>
        </div>
        <div class="col-md-6 text-center">
          <button type="button" [routerLink]="['/courses/coursesSI5']"  class="h-100 btn btn-outline btn-lg btn-block navButton">SI5 <i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="year==='5'">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <button type="button" [routerLink]="['/courses','4']"  class="h-100 btn btn-outline btn-lg btn-block navButton"><i class="fas fa-chevron-left"></i> SI4</button>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="row align-items-center text-center" style="height: 80vh">
    <div class="h-100 col-3">
      <div *ngIf="courseService.getEctsSemester(firstSemester) === 30">
        <h2 class="ectsOk">S{{firstSemester}} ({{courseService.getEctsSemester(firstSemester)}} ects)</h2>
      </div>
       <div *ngIf="courseService.getEctsSemester(firstSemester) !== 30">
        <h2 class="ectsNotOk">S{{firstSemester}} ({{courseService.getEctsSemester(firstSemester)}} ects)</h2>
      </div>
      <div *ngFor="let courseS5 of sortedCourseList[intFirstSemester()]">
        <div *ngIf="courseS5.length > 1">
          <hr>
        </div>
        <div *ngFor="let courseS5Sorted of courseS5">
          <div *ngIf="specialty == null || specialty === courseS5Sorted?.spe">
            <div *ngIf="courseS5Sorted?.optional === '0' || courseS5Sorted?.optional == null">
              <button type="button" class="h-10 btn btn-outline btn-lg btn-block infoButton mandatory"  id = {{courseS5Sorted.title}} (click) = clickCourseButton()>{{courseS5Sorted.title}}</button>
            </div>
            <div *ngIf="courseS5Sorted?.optional === '1' && courseS5Sorted?.courseConc !== -1 && courseS5Sorted?.courseConc !== null">
              <button type="button" class="h-10 btn btn-outline btn-lg btn-block infoButton optional"  id = {{courseS5Sorted.title}} (click) = clickCourseButton()>{{courseS5Sorted.title}}</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-6 h-100">
      <div *ngIf="wantToCreate === false && courseClicked !== null">
        <app-course-details [course]=getClickedCourse()></app-course-details>
        <div *ngIf="currentUser?.professor === true">
          <button type="button" class="h-10 btn btn-outline btn-lg btn-block addButton" (click) = clickNewCourseButton()>Ajouter un cours</button>
        </div>
        <div *ngIf="wantToModify === false  && currentUser?.professor === true">
          <button type="button" class="btn btn-primary modifyButton" (click)="clickModifyCourseButton()">Modifier</button>
          <button type="button" class="btn btn-primary btn-danger" (click)=deleteCourse()>Supprimer</button>
        </div>
        <div *ngIf="wantToModify === true && currentUser?.professor === true">
          <button type="button" class="btn btn-primary modifyButton" (click)="clickModifyCourseButton()">Cacher</button>
          <button type="button" class="btn btn-primary btn-danger" (click)=deleteCourse()>Supprimer</button>
        </div>
      </div>
      <div *ngIf="wantToCreate === true  && currentUser?.professor === true">
        <app-course-empty (addCourse)="addCourse($event)"></app-course-empty>
      </div>
      <div *ngIf="wantToModify === true  && currentUser?.professor === true">
        <app-course-modify [course]=getCourseToModify() (updateCourse)="updateCourse($event)"></app-course-modify>
      </div>
    </div>
    <div class="col-3 h-100">
      <div *ngIf="courseService.getEctsSemester(secondSemester) === 30">
        <h2 class="ectsOk">S{{secondSemester}} ({{courseService.getEctsSemester(secondSemester)}} ects)</h2>
      </div>
      <div *ngIf="courseService.getEctsSemester(secondSemester) !== 30">
        <h2 class="ectsNotOk">S{{secondSemester}} ({{courseService.getEctsSemester(secondSemester)}} ects)</h2>
      </div>
      <div *ngFor="let courseS6 of sortedCourseList[intSecondSemester()]">
        <div *ngIf="courseS6.length > 1">
          <hr>
        </div>
        <div *ngFor="let courseS6Sorted of courseS6">
          <div *ngIf="specialty == null || specialty === courseS6Sorted?.spe">
            <div *ngIf="courseS6Sorted?.optional === '0' || courseS6Sorted?.optional == null">
              <button type="button" class="h-10 btn btn-outline btn-lg btn-block infoButton mandatory"  id = {{courseS6Sorted.title}} (click) = clickCourseButton()>{{courseS6Sorted.title}}</button>
            </div>
            <div *ngIf="courseS6Sorted?.optional === '1' && courseS6Sorted?.courseConc !== -1 && courseS6Sorted?.courseConc !== null">
              <button type="button" class="h-10 btn btn-outline btn-lg btn-block infoButton optional"  id = {{courseS6Sorted.title}} (click) = clickCourseButton()>{{courseS6Sorted.title}}</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
